---
import Bento from '@/components/Bento.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Hero from '@/components/Hero.astro'
import MoreInfo from '@/components/MoreInfo.astro'
import News from '@/components/News.astro'
import UTNA from '@/components/UTNA.astro'
import University from '@/components/University.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='UTNA - Universidad Tecnológica del Norte de Aguascalientes'>
	<Header />
	<main>
		<Hero />
		<Bento />
		<UTNA />
		<University />
		<MoreInfo />
		<News />
	</main>
	<Footer />
</Layout>
