---
import GridAnimated from '@/components/GridAnimated'
import Button from './ui/button.astro'
import Pill from './ui/pill.astro'
---

<GridAnimated client:visible>
	<section class='w-full bg-white py-28 lg:py-24'>
		<div class='container mx-auto px-4 md:px-6'>
			<div class='grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]'>
				<div class='flex flex-col justify-center space-y-4'>
					<div class='space-y-2'>
						<Pill text='Convocatorias de Becas' href='' />
						<h1
							class='font-GilroyBold text-3xl font-bold tracking-tighter drop-shadow-lg sm:text-5xl xl:text-6xl/none'
						>
							Explora <span class='text-[#c08261]'>nuevas oportunidades</span> en la Universidad Tecnológica
							del Norte de Aguascalientes y alcanza tu{' '}
							<span class='text-[#606c38]'>máximo potencial.</span>
						</h1>
						<p
							class='scale max-w-[600px] font-GilroyRegular font-normal italic text-gray-500 md:text-lg'
						>
							"Tecnología y Valores, Educación sin Límites"
						</p>
					</div>
					<div class='flex flex-col gap-3 pt-4 min-[650px]:flex-row'>
						<Button
							href=''
							text='Explora nuestras carreras'
							additionalClasses='bg-gradient-to-l from-[#7F4021]/75 from-25% to-[#BE7026]/75 to-%100 text-base text-white font-semibold font-GilroySemibold drop-shadow-lg'
							hidden={false}
							img={null}
						/>
						<Button
							href=''
							text='Solicitar más información'
							additionalClasses='bg-gradient-to-l from-[#374828]/75 from-25% to-[#8FB269]/75 to-%100 text-base text-white font-semibold font-GilroySemibold drop-shadow-lg'
							hidden={true}
							img='/svg/whatsapp.svg'
						/>
					</div>
				</div>
				<div class='flex items-center justify-center'>
					<div class='relative h-[300px] w-[300px] sm:h-[500px] sm:w-[500px]'>
						<img
							alt='Students with mascot'
							class='absolute inset-0 h-full w-full object-cover drop-shadow-md'
							height='400'
							src='/hero-image.webp'
							style='aspect-ratio: 400/400; object-fit: cover;'
							width='400'
						/>
					</div>
				</div>
			</div>
		</div>
	</section>
</GridAnimated>
