---
import GridBackground from '@/components/GridBackground'
import { Image } from 'astro:assets'
import Container from './Container.astro'
import Link from './ui/link.astro'
import Pill from './ui/pill.astro'
---

<GridBackground>
	<Container>
		<section class='w-full bg-white py-32'>
			<div class='container mx-auto px-4 md:px-6'>
				<div class='grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]'>
					<div class='flex flex-col justify-center space-y-4'>
						<div class='space-y-6'>
							<Pill text='Convocatorias de Becas' href='' />
							<h1
								class='font-GilroyBold text-3xl font-bold tracking-tighter drop-shadow-lg sm:text-4xl xl:text-5xl/none'
							>
								Explora <span class='text-[#c08261]'>nuevas oportunidades</span> en la Universidad Tecnológica
								del Norte de Aguascalientes y alcanza tu{' '}
								<span class='text-[#606c38]'>máximo potencial.</span>
							</h1>
							<p
								class='scale max-w-[400px] font-GilroyRegular text-base font-normal italic text-gray-500 md:text-lg'
							>
								"Tecnología y Valores, Educación sin Límites"
							</p>
						</div>
						<div class='flex flex-col gap-6 pt-14 min-[650px]:flex-row'>
							<Link
								href=''
								text='Explora nuestras carreras'
								additionalClasses='bg-gradient-to-l from-[#7F4021]/75 from-25% to-[#BE7026]/75 to-%100 text-base text-white font-semibold font-GilroySemibold drop-shadow-lg select-none'
								hidden={false}
								img={null}
							/>
							<Link
								href=''
								text='Solicitar más información'
								additionalClasses='bg-gradient-to-l from-[#374828]/75 from-25% to-[#8FB269]/75 to-%100 text-base text-white font-semibold font-GilroySemibold drop-shadow-lg select-none'
								hidden={true}
								img='/svg/whatsapp.svg'
							/>
						</div>
					</div>
					<div class='flex items-center justify-center'>
						<div class='relative h-[330px] w-[330px] lg:h-[500px] lg:w-[500px]'>
							<Image
								alt='Students with mascot'
								class='absolute inset-0 h-full w-full select-none object-cover drop-shadow-md'
								height='400'
								src='/img/hero-image.webp'
								style='aspect-ratio: 200/200; object-fit: cover;'
								width='400'
							/>
						</div>
					</div>
				</div>
			</div>
		</section>
	</Container>
</GridBackground>
